body {
  padding: 0;
  margin: 0;
  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  background-position: -80% 140%, 175% -65%;
  background-repeat: no-repeat;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  font-family: Kumbh Sans, sans-serif;
  font-size: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  margin: 8rem 0 0 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.flexbox-item-a {
  background: url("images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  height: 125px;
  border-radius: 15px 15px 0 0;
}

.image {
  position: relative;
  margin: 80px 0 0 0;
}

.profile-pic {
  border: 5px solid white;
  border-radius: 100px;
  outline: none;
}

.flexbox-item-b {
  background-color: white;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr{
    width: 400px;
    background-color:hsl(229, 23%, 23%);
}

.name-age {
  margin-top: 50px;
}

.name {
  font-weight: 700;
}

.age {
  font-weight: 400;
}

.flexbox-item-c {
  background-color: white;
  width: 400px;
  height: 100px;
  border-radius: 0 0 15px 15px;
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flexbox-item-c-1,
.flexbox-item-c-2,
.flexbox-item-c-3 {
  background-color: white;
  height: 80px;
  width: 80px;
  text-align: center;
}

.stat {
  font-family: Kumbh Sans, sans-serif;
  font-weight: 700;
}

.stat-name {
  font-family: Kumbh Sans, sans-serif;
  font-weight: 400;
}
